*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
.navigaton-bar{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #008080;
    height: 10%;
}
a{
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    color:white;
}
.logo {
  font-size: 50px;
  margin-right: auto; /* Push the <h2> to the left */
  color: white;
}
@keyframes moveLogin{
    0% {
        top: 35%;
    }
    25% {
        top: 45%;
    }
    50% {
        top: 37%;
    }
    75% {
        top: 42%;
    }
    100% {
        top: 40%;
    }
}
.main-container{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.login-container{
    position: relative;
    width: 340px;
    height: 380px;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    background: white;
    padding: auto;
    border-radius: 2px;
    animation: moveLogin 1s;
}
.sign-up-container{
  margin: 25px 25px;
}
#sign-up{
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: #008080;
  color: white;
}
#sign-up:hover{
    background: #80808f;
}
.login-form{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.entry-field{
    padding: 14px 25px;
    margin: 3px 50px;
    border: none;
    outline: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #80808f;
    opacity: 0.9;
}
#submit-login:hover{
    background: #80808f;
}
#submit-login{
    background: #008080;
    margin: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: white;
}
.password-check{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}
