*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
.navigaton-bar{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #008080;
    height: 10%;
}
a{
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    color:white;
    &:hover{
      text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px #008080,0 -4px 15px rgba(255,255,255,0.5);
    }
}
a::after{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background: #008080;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}
a:hover::after{
    transform: scale(1);
}
.logo {
  font-size: 50px;
  margin-right: auto; /* Push the <h2> to the left */
  color: white;
  padding: 25px;
}
@keyframes moveLogin{
    0% {
        top: 40%;
    }
    25% {
        top: 35%;
    }
    50% {
        top: 45%;
    }
    75% {
        top: 37%;
    }
    100% {
        top: 40%;
    }
}
.nav-container{
    position: absolute;
    background: black;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.login-container{
    position: relative;
    width: 340px;
    height: 380px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: auto;
    border-radius: 2px;
    animation: moveLogin 1s;
    overflow: hidden;

}
.sign-up-button-container{
  margin: 25px 25px;
  text-align: right;
}
.login-button-container{
  margin: 25px 25px;
  text-align: left;
}
#sign-up-label{
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: transparent;
  border-bottom: solid;
  border-color: black;
  cursor: pointer;
  color: black;
}
#sign-up-label:hover{
    background: #80808f;
}
#back-label{
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: transparent;
  border-bottom: solid;
  border-color: black;
  cursor: pointer;
  color: black;
}
#back-label:hover{
    background: #80808f;
}
.entry-form{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.entry-field{
    padding: 14px 25px;
    margin: 3px 50px;
    border: none;
    outline: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #80808f;
    opacity: 0.9;
}
#submit-login:hover{
    background: #80808f;
}
#submit-login{
    background: #008080;
    margin: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
.password-check{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}

#register-form{
  left: 500px;
  position: absolute;
}
#submit-register:hover{
    background: #80808f;
}
#submit-register{
    background: #008080;
    margin: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
.tnc-check{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}
.nav-container a:hover{
  background-color: black;
}
.nav-container a.active {
  background-color: #04AA6D;
  color: white;
}
