*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
.navigaton-bar{
    text-align: right;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #008080;
    height: 10%;
}
.menu{
  text-decoration: none;
  color: white;
  font-weight: bold;
  &:hover{
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px #008080,0 -4px 15px rgba(255,255,255,0.5);
  }
}
li{ /*Rework the <a> menu tags*/
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
}
li::after{ /* Create after effect on <a> tags*/
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background: #008080;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}
li:hover::after{ /*On hover call after effect*/
    transform: scale(1);
}
ul li{}
.logo {
  font-size: 50px;
  text-decoration: none;
  margin-right: auto;
  color: white;
  padding: 25px;
}
@keyframes moveLogin{
    0% {
        top: 40%;
    }
    25% {
        top: 35%;
    }
    50% {
        top: 45%;
    }
    75% {
        top: 37%;
    }
    100% {
        top: 40%;
    }
}
.main-container{
    position: absolute;
    background-image: url('https://wallpaper.dog/large/11034597.jpg');
    background-color: #002626; /* The color you want as a filter */
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.login-container{
    position: relative;
    width: 340px;
    height: 380px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #008080;
    padding: auto;
    border-radius: 2px;
    animation: moveLogin 1s;
    overflow: hidden;

}
.sign-up-button-container{
  margin: 25px 25px;
  text-align: right;
}
.login-button-container{
  margin: 25px 25px;
  text-align: left;
}
#sign-up-label{
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: transparent;
  border-bottom: solid;
  border-color: #002626;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#sign-up-label:hover{
    background: #004c4c;
}
#back-label{
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: transparent;
  border-bottom: solid;
  border-color: #002626;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#back-label:hover{
    background: #004c4c;
}
.entry-form{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    color: white;

}
.entry-field{
    padding: 14px 50px;
    padding-left: 10px;
    margin: 3px 50px;
    border: none;
    outline: none;
    border-bottom: solid;
    border-left: solid;
    border-width: 2px;
    border-color: #002626;
    background-color: #329999;
}
.entry-field::placeholder {
    color: white; /* Change placeholder text color to white */
}
#submit-login:hover{
    background: #004c4c;
}
#submit-login{
    background: #002626;
    margin: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.password-check{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}

#register-form{
  left: 500px;
  position: absolute;
}
#submit-register:hover{
    background: #004c4c;
}
#submit-register{
    background: #002626;
    margin: 25px;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.tnc-check{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}
.main-container li:hover{
  background-color: #002626;
}
.discord-button {
  padding: 10px 10px;
  background-color: #002626;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover{
        background: #004c4c;
  }
}
.google-button {
  padding: 10px 10px;
  background-color: #002626;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover{
        background: #004c4c;
  }
}
.facebook-button {
  padding: 10px 10px;
  background-color: #002626;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover{
        background: #004c4c;
  }
}
.social-login {
  margin-top: 10px;
}
